@import "@material/theme/color-palette";
@import "@material/typography/mdc-typography";
// @import "@material/theme/mdc-theme";

$mdc-theme-primary: #e89a40;
$mdc-theme-secondary: #25cbea;
$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;
$mdc-theme-error: #e64a24;

.theme-primary-color{ color: $material-color-yellow-900; }
.theme-secondary-color{ color: $material-color-light-blue-200; }
