@import "@material/theme/color-palette";
@import "@material/typography/mdc-typography";

$mdc-theme-primary: #e89a40;
$mdc-theme-secondary: #25cbea;
$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;
$mdc-theme-error: #e0451e;