@import "@material/theme/color-palette";

$mdc-theme-primary: $material-color-yellow-900;
$mdc-theme-secondary: $material-color-light-blue-200;
$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;
$mdc-theme-error: $material-color-deep-orange-a700;